:root {
    --color-black: #000000;
    --color-white: #FFFFFF;


    /* work section */
    --main-container-padding: 24px;
    --main-container-width: 680px;
    /* homepage */
    --image-gap: 1vw;
    --image-height: 56vmin;
    --image-width: 40vmin;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
  }